<table id="searchTable">

  <thead>
    <tr>      
      <th><a href="">Event</a></th>      
      <th><a href="">Preference Score</a></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for result in @shown_results %>
      </br>
      <tr>
        <td>

          <div style="border-bottom: 1px dotted black; width: 750px;">
            <br />
           <%= link_to result.name, event_path(result.id) %><br /><br />
           Tags: <%result.eventtypes.each do |et|%>
                   <%=et.description%>
                 <%end%><br /><br />
          </div>
        </td>                        
      </tr>
    <%end%>
  </tbody>
</table>


