<!-- This is the main page to for searching for an event
The user can also specify some advanced search options such as formality and cost
The search results are processed through the search/_search_table partial-->

<div id="about">

<h2><b>Find an Event!</b></h2>

<% form_for :search, {:controller => 'search', :action => 'show'} do |f|%>
  

    <%= f.text_field :query %>
    <%= submit_tag "Search!" %>

    <br />
    Advanced Search Options:
    <br />
    
    <select name="search[formality]">
      <option value="no_formality">Specify Formality...</option>
      <option value="Formal">Formal</option>
      <option value="Dressy">Dressy</option>
      <option value="Dressy-Casual">Dressy-Casual</option>
      <option value="Casual">Casual</option>
    </select>

    &nbsp
    Maximum cost:  $<input type="text" name="search[cost]"/>

<% end %>


<!-- Limit the search results so that:
  1.  unregistered users can only see public events
  2.  uninvited users to private events can't see those events
-->
<%@shown_results = Array.new%>
<%if current_user%>
  <%for result in @results%>
    <%invited = Array.new(UserEvent.find(:all, :conditions => ["event_id = ? AND user_id = ?", result.id, current_user.id]))%>
    <%if(((result.privacy == 'Private') && (!invited.empty?)) || (result.privacy == 'Public')) %>
      <%@shown_results << result%>
    <%end%>
  <%end%>
<%else%>
  <%for result in @results%>
    <%if result.privacy == 'Public'%>
      <%@shown_results << result%>
    <%end%>
  <%end%>
<%end%>

<%if @shown_results.empty?%>
  <%if @searchfor%>
    <br />
    <strong>Your Search For '<%=@searchfor%>' Returned 0 Results</strong>
  <%end%>
<%else%>
  <div id="table">
    <%= render :partial => "search_table" %>
  </div>
<%end%>
</div>