<center><h2><b>Find a Friend!</b></h2></center>

<% form_for :search, {:controller => 'search', :action => 'show_users'} do |f|%>
  <center>
    <%= f.text_field :query %>
    <%= submit_tag "Search!" %>
  </center>
<% end %>

<%if @results.empty?%>
  <%if @searchfor%>
    </br>
    <b>Your Search For '<%=@searchfor%>' Returned 0 Results</b>
  <%end%>
<%else%>
  <div id="table">
    <%= render :partial => "search_users_table" %>
  </div>
<%end%>
