<div class='user_bar span-20 last'>
  <% if logged_in?%>
    logged in as <%= link_to_current_user :content_method => :login %> (<%=link_to 'logout', logout_path%>)
  <%else%>
    <%=link_to 'login', login_path%> | <%=link_to 'signup', signup_path%>
  <%end%>
</div>