<div class="user_profile_container">
  <div class="user_profile">
  <%if @user%>
    <h2>Welcome <%=@user.login%></h2>
    <div id="user_info_container">     
    </div>
    <div id="user_pic_container">
    </div>
  <%end%>
  </div>
</div>