<h1>About I'm In</h1>

<div>
   How awesome would it be for a website to show you events that interest you, that are closest to you, <br>
   and that you WANT to go to?!  <br><br>

   We at I'm In strive to do just that:  we want to help everyone easily find the events they want to go to.<br>
   We do that by taking into account location, event preferences that can be entered, and past events<br>
   that you have gone to. <br><br>

   Register for a free profile to save user preferences, and have I'm In automatically and intelligently suggest events<br>
   to you!  Creating a profile will also allow you to become friends with other users, create your own events,<br>
   and maintain a calendar of events.<br><br>

   Sign up for a free account now, or start exploring the website to find the hottest events in town.
</div>
