<% def lit_link(name, tourl)
  # Lights up the link pointing to current page
  pageurl = request.env['REQUEST_URI']
  question_mark = pageurl.index('?')
  pageurl = pageurl.slice(0, question_mark) if question_mark
  first_slash = pageurl.index('/')
  if pageurl.slice(first_slash, pageurl.length - first_slash) == tourl
    cls = 'user_nav_link_on'
  else
    cls = 'user_nav_link'
  end
  link_to name, tourl, :class => cls
end %>

<div id="user_nav">
      <%if current_user
          # The urls for these should begin with a slash%>
          <%=lit_link 'Profile', '/users/profile'%>
          <%=lit_link 'Events', '/users/events'%>
          <%=lit_link 'Friends', '/friendships/display'%>
          
      <%end%>
</div>