<!-- This partial displays a table of users whenever a user searches for a friend-->

<table id="searchUsersTable">

  <thead>
    <tr>
      <th><a href="">Name</a></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for result in @results %>
      <tr>

        <td>
          <%= link_to result.name, user_path(result.id) %>
        </td>

        <!--Call the create method in the pending_friend_requests controller
        If already friends, display "Already Friends!"
        If the current user already has requested a friendship with the user, display "Friendship requested"
        If the current user needs to confirm a pending friend request with the, display a Friendship requested "Confirm Friend" link-->
        <td>
          <% @already_friend = false %>
          <% @already_requested = false %>
          <% @needs_confirmation = false %>

          <!--Look through current user's friendships to see if it already exists-->
          <%for friend in current_user.friendships%>
            <%if friend.friend.id == result.id%>
              <% @already_friend = true %>
            <%end%>
          <%end%>

          <!--Look at current user's pending friend requests to see if they need to confirm-->
          <%for pfr in current_user.pending_friend_requests%>
            <%if pfr.requester.id == result.id%>
              <% @needs_confirmation = true %>
            <%end%>
          <%end%>

          <!--Look to see if the user has already requested a friendship.  The pending friend request
          is only stored for the user that needs to confirm the friendship (result), so look through the other user's
          pending friendrequests to see the current user has already requested-->
          <%for pfr in result.pending_friend_requests%>
            <%if pfr.requester.id == current_user.id%>
              <%@already_requested = true%>
            <%end%>
          <%end%>
          

          <%if @already_friend%>
            Already Friends!
          <%elsif @needs_confirmation%>
            <%=link_to 'Confirm Friend!', friendships_path(:friend_id => result), :method => :post%>
          <%elsif @already_requested%>
            Friendship Requested...
          <%elsif (current_user.id == result.id)%>
            (This is you!)
          <%else%>
            <%= link_to 'Request Friendship!', pending_friend_requests_path(:user_id => result), :method => :post %>
          <%end%>
          
        </td>

        
      </tr>
    <%end%>
  </tbody>
</table>


